@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&family=Open+Sans:wght@700&display=swap');


.parallax {
  /* The image used */
  background-image: url("rotten_fruit.jpg");
  /*background-color: #F6b915;*/
  #color: #447270;
  color: whitesmoke;

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*font-family: Verdana, Helvetica, sans-serif;*/
  font-family: "Open Sans", sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
}
.container-fluid{
  font-family: "Open Sans", sans-serif;
  color: #447270;
  font-size: 18px;
}

.hint-format{
  font-family: "Open Sans", sans-serif;
  color: #447270;
  font-size: 18px;
  font-style: italic;
}

.t1-heading{
  /*font-family: "Open Sans", sans-serif;*/
  font-family: 'Bitter', serif;
  /*color: #447270;*/
  font-size: 50px;
}

.summary-graphic{
  /*font-family: "Open Sans", sans-serif;*/
  font-family: 'Bitter', serif;
  /*color: #447270;*/
  font-size: 40px;
  font-weight: 900;
  color: #F6E271;
}
.summary-text{
  font-family: 'Bitter', serif;
  font-size: 20px;
  color: #447270;
}
.my-subtitle{
  /*font-family: "Open Sans", sans-serif;*/
  font-family: 'Bitter', serif;
  color: #447270;
  font-size: 30px;
}

.my-tab-one{
    font-family: "Open Sans", sans-serif;
    color: #447270;
    font-size: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid #447270;
    border-left: 2px ;
    border-right: 2px ;
    border-bottom: 2px ;
    background-color: #447270;
    padding: 12px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.custom-tab-selected{
    #color: #447270;
    primary : #F6E271;
    font-family: "Open Sans", sans-serif;
    color: #F6E271;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
   #border-top: 3px solid #447270 !important;
    border-top: 7px solid #F6E271 !important;


}

.card-header {
   background-color: white;
   border-color: white;
}

.summary-card {
    background-color: white;
    border-color: #447270;
    border-width: 0px;
    #border-bottom-width: 1px;
    #border-left-width: 1px;
    font-family: 'Bitter', serif;
    font-size: 20px;
    color: #447270;
    #border: none;
    #outline: solid ;
    #box-shadow: 2px 2px 2px  #447270;
}

.top-card{
   background-color: white;
   border-color: white;
    font-family: "Open Sans", sans-serif;
    color: #447270;
    font-size: 10px;
}

.explain-title{
   background-color: white;
   border-color: white;
   font-family: 'Bitter', serif;
    color: #447270;
    font-size: 20px;
}


	.two{
		height: 200px;
		background-image: url('rotten_fruit.jpg');
      	background-color: white;
		background-position: center;
		background-attachment: fixed;
		background-size: 100% auto;
		box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.7) inset;
	}
